@using System.Security.Claims
@if (Request.IsAuthenticated)
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            Hello @(((ClaimsIdentity)User.Identity).FindFirst("email").Value)!
        </li>
        <li>@Html.ActionLink("Log off", "LogOff", "Home")</li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Log in", "Login", "Home", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
